/* body {
  background-color: #fbf8d3;
} */

table {
  border: 0.5px solid black;
  width: 100%;
}

th {
  border: 1px solid black;
  padding: 0.6rem;
  background-color: grey;
  color: white;
}

td {
  border: 1px solid black;
  padding: 0.6rem;
}

input {
  font-size: 12pt;
  font-family: Calibri;
  width: 100%;
  margin: 1em 0;
}

/* .margin_spaces {
  margin: 2rem;
} */

.size {
  font-size: large;
}

.total_size {
  font-size: 1.6rem;
}

.hacer-compra-btn {
  margin: 0 auto !important;
  width: auto !important;
}
