.container {
  display: flex;
}

.header {
  width: 100%;
  background-color: #fbf8d3;
  border-bottom: 1px solid #826754;
  padding: 1em;
}

.header-logo {
  float: right;
  height: 3em;
  width: auto;
  padding: 0 1em;
}

.header-foo {
  font-size: 2em;
  color: #826754;
}

.main-content {
  width: 100%;
  justify-content: space-around;
}

.column {
  width: 35vw;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 100vh;
  /* border-bottom: 1px solid #333; */
  width: calc(32px + 2em);
  background-color: #acbea3;
}

ul.tabs li {
  /* float: left;
  margin: 0;
  cursor: pointer;
  padding: 0px 70px;
  height: 31px;
  line-height: 31px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  background-color: #666;
  color: #ccc;
  overflow: hidden;
  position: relative; */
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #acbea3;
  padding: 1em;
}

.tab_last {
  border-right: 1px solid #333;
}

ul.tabs li:hover {
  background-color: #2f6c43;
  color: #333;
}

ul.tabs li.active {
  background-color: #40476d;
  /* border-bottom: 1px solid #fff; */
  display: block;
}

ul.tabs li.active svg {
  color: white;
}

.tab_container {
  /* border: 1px solid #333; */
  border-top: none;
  clear: both;
  /* float: left; */
  width: 100%;
  background: #fbf8d3;
  /* overflow: auto; */
  font-family: Calibri;
}

.tab_content {
  padding: 20px;
  display: none;
}

.tab_drawer_heading {
  display: none;
}

/* .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .center_item {
  width: 50%;
  flex: none;
} */

@media screen and (max-width: 480px) {
  ul.tabs {
    /* padding-bottom: 6rem; */
    height: 15vh;
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
  }

  ul.tabs li {
    /* width: 60%; */
    height: auto;
    flex-grow: 20;
  }

  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: #666;
    color: #fff;
  }
}
